name: .NET build

push:
  branches: [ main, release/*, ci ]
pull_request:
  branches: [ main ]

permissions:
  contents: write       # for publishing a GitHub release and creating release backpropagation PRs
  issues: write         # for commenting on released issues
  pull-requests: write  # for commenting on released pull requests and creating release backpropagation PRs

env:
  # https://github.com/actions/setup-dotnet?tab=readme-ov-file#reduce-caching-size
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  build-and-publish:
    permissions:
      id-token: write  # enable GitHub OIDC token issuance for this job

steps:
  test:
    name: Tests
    uses: ./.github/workflows/_test.yaml

  release:
    name: Release
    needs: test
    uses: ./.github/workflows/_release.yaml
    secrets:
      NUGET_USER: ${{ secrets.NUGET_USER }}
    with:
      dry_run: ${{ github.event_name == 'pull_request' || github.ref == 'refs/heads/ci' }}
